<!DOCTYPE html>
<html>
<head>
    <title>Add Task</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>

    <h1>Add New Task</h1>

    <form action="/add" method="POST">

        <label>Task Title</label>
        <input type="text" name="title" required>

       <label>Select Category</label>

<% if (categories.length > 0) { %>
  <select name="category" required>
    <% categories.forEach(cat => { %>
      <option value="<%= cat._id %>"><%= cat.name %></option>
    <% }) %>
  </select>
<% } else { %>
  <p style="color:red;">No categories available.</p>
<% } %>


<br>
<a href="/category/add">+ Add New Category</a>

        <button type="submit" class="edt">Add Task</button>
    </form>

    <br>
    <a href="/">Back</a>

</body>
</html>
