body {
  background: #f2f2f2;
  font-family: Arial;
}

form {
  width: 300px;
  background: white;
  padding: 20px;
  margin: 50px auto;
  border-radius: 5px;
}

.form-control {
  margin-bottom: 15px;
}

.form-control input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
}

.form-control small {
  color: red;
  visibility: hidden;
}

.form-control.error small {
  visibility: visible;
}

.form-control.success input {
  border: 2px solid green;
}

.form-control.error input {
  border: 2px solid red;
}

button {
  width: 100%;
  padding: 10px;
  background: blue;
  color: white;
  border: none;
  cursor: pointer;
}
