* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  margin: 0;
  background: #f2f2f2;
}

.title {
  text-align: center;
  color: #e91e63;
  margin: 30px 0;
}
.tab-links {
  display: flex;
  gap: 20px;
}
.wrapper {
  display: flex;
  gap: 30px;
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}

/* PROFILE CARD */
.profile-card {
  background: white;
  width: 320px;
  padding: 20px;
  text-align: center;
  border-radius: 6px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.profile-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}

.location {
  color: gray;
  font-size: 14px;
}

.contact p {
  font-size: 14px;
}

.bio {
  font-size: 14px;
}

.bio a {
  color: #e91e63;
  text-decoration: none;
}

.buttons {
  display: flex;
  gap: 10px;
  margin: 15px 0;
}

.btn {
  flex: 1;
  padding: 8px;
  border: none;
  background: #e91e63;
  color: white;
  cursor: pointer;
  border-radius: 4px;
}
.btn:hover{
    background-color: #0c47a1;
    color:white;
}

.create {
  background: #ff4081;
}

.rating {
  margin-top: 10px;
  font-size: 14px;
}

/* RIGHT CONTENT */
.content {
  flex: 1;
}

.top-card {
  background: white;
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 15px;
  border-radius: 6px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.small-img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}

.tabs {
  display: flex;
  gap: 25px;
  border-bottom: 1px solid #ddd;
  margin: 20px 0;
}

.tabs a {
  text-decoration: none;
  color: #666;
  font-weight: 500;
  padding: 10px 0;
  position: relative;
}
.tabs a:hover{
     color: #0c47a1;
}

.tabs a.active {
  color: #e91e63;
}

.tabs a.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 2px;
  background: #e91e63;
}


.post {
  background: white;
  margin-top: 15px;
  padding: 20px;
  border-radius: 6px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}
#tab-toggle {
  display: none;
}
.tab-menu {
  display: none;
  font-size: 22px;
  cursor: pointer;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .wrapper {
    flex-direction: column;
    align-items: center;
  }

  .profile-card {
    width: 100%;
    max-width: 400px;
  }
}
.section-title {
  margin-top: 20px;
  margin-bottom: 8px;
  font-size: 18px;
  font-weight: 600;
  border-bottom: 2px solid #eee;
  padding-bottom: 5px;
}

.bio,.read {
  font-size: 14px;
  color: #555;
  line-height: 1.5;
  margin-bottom: 6px;
}

#toggle-bio {
  display: none;
}
#toggle-read{
    display: none;
}

.more-text {
  display: none;
}
.read-more-text{
    display: none;
}
.see-more,.read-more {
  font-size: 13px;
  color: #e91e63;
  cursor: pointer;
  font-weight: 500;
  text-decoration: underline;
}
.see-more:hover{
color: #0c47a1;

}

#toggle-bio:checked ~ .more-text,#toggle-read:checked~.read-more-text{
  display: block;
}
.post-card {
  background: #fff;
  padding: 20px;
  border-radius: 6px;
  margin-top: 20px;
}

.post-title {
  margin-bottom: 15px;
  font-size: 18px;
  border-bottom: 2px solid #eee;
  padding-bottom: 6px;
}

.post-item h4 {
  margin: 0;
  font-size: 16px;
}

.post-date {
  font-size: 12px;
  color: #777;
  margin: 4px 0 10px;
}

.post-text {
  font-size: 14px;
  color: #444;
  line-height: 1.6;
}

.read-more {
  font-size: 13px;
  color: #1a73e8;
  text-decoration: underline;
}

.read-more:hover {
  color: #0c47a1;
}
@media (max-width: 768px) {
  .tab-menu {
    display: block;
  }

  .tab-links {
    display: none;
    flex-direction: column;
    width: 100%;
    gap: 12px;
  }

  #tab-toggle:checked ~ .tab-links {
    display: flex;
  }
}