body {
  font-family: Arial, sans-serif;
  background-color: #f3f4f6;
}

.app {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-top: 50px;
}

.counter-card {
  background: rgba(231, 85, 60, 0.658);
  padding: 20px;
  border-radius: 10px;
  width: 220px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

button {
  margin: 6px;
  padding: 6px 12px;
  cursor: pointer;
  border-radius: 5px;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
