body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(216, 216, 169);
}

.app-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}
