.admin-layout {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 220px;
  background-color: #1e293b;
  color: white;
  padding: 20px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin: 15px 0;
  cursor: pointer;
}
.sidebar a{
    color: #f1f5f9;
    text-decoration: none;
}
.sidebar a:hover{
    text-decoration: underline;
}

.admin-content {
  flex: 1;
  background-color: #f1f5f9;
  min-height: 100vh;
}

.header {
  height: 60px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  border-bottom: 1px solid #e5e7eb;
}

main {
  padding: 20px;
   background-color: white;
  min-height: calc(100vh - 60px);
}
table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
}

th,
td {
  padding: 12px;
  text-align: left;
}

th {
  background-color: #1e293b;
  color: white;
}

tr:nth-child(even) {
  background-color: #f1f5f9;
}

button {
  padding: 6px 12px;
  border: none;
  background-color: #ef4444;
  color: white;
  cursor: pointer;
  border-radius: 4px;
}

button:hover {
  background-color: #dc2626;
}
.cards {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.card {
  flex: 1;
  background-color: white;
  padding: 20px;
  border-radius: 6px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.card h3 {
  margin-bottom: 10px;
  color: #1e293b;
}

.card p {
  font-size: 24px;
  font-weight: bold;
}
input {
  padding: 6px 10px;
  margin-right: 8px;
  border: 1px solid #cbd5f5;
  border-radius: 4px;
}
