<!DOCTYPE html>
<html>
<head>
  <title>Access Denied</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body class="denied-body">
  <div class="denied-container">
    <h1>403 - Access Denied</h1>
    <p>You don't have permission to access this page.</p>
    <a href="/" class="back-btn">Go Back</a>
  </div>
</body>
</html>
