*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif

}
body{
    background: #f7f7f7;
}
.features{
    padding: 60px 20px;
    text-align: center;

}
.title{
    font-size: 32px;
    margin-bottom:40px;
    font-weight:900;
}
.title span{
    color: #ff6a00;
}
.feature-container{
    display: grid;
    margin: auto;
  
    grid-template-columns: repeat(auto-fit,minmax(280px,1fr));
    max-width: 1100px;
    gap: 30px;

}
.card{
    background: white;
    padding: 30px 20px;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.08);
    transition: transform 0.3s ease;
}
.card:hover{
    transform: translateY(-8px);
}
.card img{
    width: 85px;
    margin-bottom: 25px;
}
.card h3{
    margin-bottom: 10px;
    font-size: 20px;
}
.card p{
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;
}
.btn{
    padding: 10px 20px;
    font-size: 14px;
    color: #ff6a00;
    border: 2px solid #ff6a00;
    border-radius: 5px;
    text-decoration: none;
    transition: 0.3s;
}
.btn:hover{
    background: #ff6a00;
    color: white;
}