* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home {
  font-family: Arial, sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 40px;
  background-color: #1e293b;
  color: white;
}

.logo {
  font-size: 22px;
}

.nav-links a {
  margin-left: 20px;
  text-decoration: none;
  color: white;
  font-weight: 500;
}

.nav-links a:hover {
  color: #38bdf8;
}

.hero {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #2f98c7, #818181);
  color: white;
  text-align: center;
  padding: 20px;
}
.link.active {
  color: #38bdf8;
  border-bottom: 2px solid #38bdf8;
}


.hero h1 {
  font-size: 48px;
  margin-bottom: 16px;
}

.hero p {
  font-size: 18px;
  margin-bottom: 24px;
}

.btn {
  padding: 12px 24px;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  background-color: white;
  color: #0ea5e9;
  font-weight: bold;
}

.btn:hover {
  background-color: #e0f2fe;
}
