
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 22px 60px;  
  background-color: #1e293b;
  color: white;
}
.hero {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #2f98c7, #818181);
  color: white;
  text-align: center;
  padding: 20px;
}
.hero {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #2f98c7, #818181);
  color: white;
  text-align: center;
  padding: 20px;
}
.link.active {
  color: #38bdf8;
  border-bottom: 2px solid #38bdf8;
}


.hero h1 {
  font-size: 48px;
  margin-bottom: 16px;
}

.hero p {
  font-size: 18px;
  margin-bottom: 24px;
}

.btn {
  padding: 12px 24px;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  background-color: white;
  color: #0ea5e9;
  font-weight: bold;
}

.btn:hover {
  background-color: #e0f2fe;
}

.logo {
  font-size: 28px;    
  font-weight: bold;
}


.nav-links {
  display: flex;
  align-items: center;
  gap: 28px;         
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-size: 18px;     
  font-weight: 500;
  padding: 6px 2px;
  position: relative;
}


.nav-links a:hover {
  color: #38bdf8;
}


.link.active {
  color: #38bdf8;
}

.link.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 3px;
  background-color: #38bdf8;
  border-radius: 4px;
}


.page {
  min-height: 100vh;
  background-color: #f8fafc;
  font-family: Arial, sans-serif;
}

.page-content {
  padding: 40px;
  max-width: 600px;
  margin: auto;
}


.contact-form {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}
.active{
    color: aquamarine;
}
button{
    width: 30%;
    margin-top: 30px;
} 